name: ArXiv Watchdog Daily Report

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *' 
    

jobs:
  run_watchdog:
    runs-on: ubuntu-latest
    env:
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      
    steps:
      - name: 1. Checkout repository code
        uses: actions/checkout@v4

      - name: 2. Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' 

      - name: 3. Install Python dependencies
        run: pip install arxiv google-genai pandas smtplib

      - name: 4. Execute the Watchdog Script
        run: python Agentic_AI.py
